<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeColor</key>
	<array>
		<integer>24</integer>
		<integer>144</integer>
		<integer>255</integer>
		<integer>1</integer>
	</array>
	<key>gradientColor</key>
	<array>
		<integer>53</integer>
		<integer>195</integer>
		<integer>255</integer>
		<integer>1</integer>
	</array>
	<key>lightThemeColor</key>
	<array>
		<integer>93</integer>
		<integer>177</integer>
		<integer>255</integer>
		<integer>1</integer>
	</array>
	<key>invite_back</key>
	<string>blue/Mine/invite_back</string>
    <key>currency_add</key>
    <string>blue/Mine/currency_add</string>
	<key>tab_candy_on</key>
	<string>blue/Tab/tab_candy_on</string>
    <key>tab_college_on</key>
    <string>blue/Tab/tab_college_on</string>
    <key>tab_news_on</key>
    <string>blue/Tab/tab_news_on</string>
	<key>tab_market_on</key>
	<string>blue/Tab/tab_market_on</string>
	<key>tab_mine_on</key>
	<string>blue/Tab/tab_mine_on</string>
	<key>tab_project_on</key>
	<string>blue/Tab/tab_project_on</string>
	<key>selectbox_on</key>
	<string>blue/Common/selectbox_on</string>
    <key>selectbox_on_small_nike</key>
    <string>blue/Common/selectbox_on_small_nike</string>
	<key>arrow_down</key>
	<string>blue/Market/arrow_down</string>
	<key>menu_k</key>
	<string>blue/Market/menu_k</string>
	<key>menu_time</key>
	<string>blue/Market/menu_time</string>
	<key>optional_sel_on</key>
	<string>blue/Market/optional_sel_on</string>
	<key>weight_down</key>
	<string>blue/Market/weight_down</string>
	<key>weight_up</key>
	<string>blue/Market/weight_up</string>
	<key>candy_activity</key>
	<string>blue/Candy/candy_activity</string>
	<key>candy_ascension</key>
	<string>blue/Candy/candy_ascension</string>
	<key>candy_invite</key>
	<string>blue/Candy/candy_invite</string>
	<key>candy_strategy</key>
	<string>blue/Candy/candy_strategy</string>
	<key>candy_bg</key>
	<string>blue/Candy/candy_bg</string>
	<key>candy_rank_bg</key>
	<string>blue/Candy/candy_rank_bg</string>
	<key>candy_task_bg</key>
	<string>blue/Candy/candy_task_bg</string>
	<key>task_register</key>
	<string>blue/Candy/task_register</string>
	<key>task_login</key>
	<string>blue/Candy/task_login</string>
	<key>task_share</key>
	<string>blue/Candy/task_share</string>
	<key>task_wallet</key>
	<string>blue/Candy/task_wallet</string>
	<key>task_mill</key>
	<string>blue/Candy/task_mill</string>
	<key>active_presentation</key>
	<string>blue/Candy/active_presentation</string>
	<key>candy_record_bg</key>
	<string>blue/Candy/candy_record_bg</string>
	<key>strategy_presentation</key>
	<string>blue/Candy/strategy_presentation</string>
	<key>currency_bg</key>
	<string>blue/Mine/currency_bg</string>
	<key>selectbox_small_on</key>
	<string>blue/Common/selectbox_small_on</string>
	<key>arrow_right</key>
	<string>blue/Common/arrow_right</string>
	<key>add_small</key>
	<string>blue/Common/add_small</string>
    <key>flash_share</key>
    <string>blue/Infomation/flash_share</string>
</dict>
</plist>
